{% extends "layout.html" %}

{% block title %} {{ object.title }} {% endblock %}

{% block content %}

  <!-- Sidebar -->
  <div class=" py-30">
  	<h1 class="bg-indigo-400 text-white"> {{ module.title }} </h1>
    <h3 class="text-black" >Modules</h3>
    <ul id="modules">
      {% for m in object.modules.all %}
        <li data-id="{{ m.id }}" {% if m == module %} class="selected"{% endif %}>
          <a href="{% url 'user_course_detail_module' object.id m.id %}">
            <span>
              Module <span class="order"> {{ m.order|add:1 }} </span> 
            </span>
            <br> 
            {{ m.title }}
          </a>
        </li>
      {% empty %}
        <li>No modules yet.</li> 
      {% endfor %}
    </ul>
  </div>

  <!--Main content -->
  <div class="course_content py-30">
    {% for content in module.contents.all %}
      {% with item=content.item %}
        <h2> {{ item.title }} </h2>
        <div class="course_item ">
          {{ item.render }}
        </div>
        {% endwith %}
    {% endfor %}
  </div>

{% endblock %}


