@import url(//fonts.googleapis.com/css?family=Roboto:500,300,400);


  /** Breakpoint min-width: 576px as the first  **/
 
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        transition: top 0.3s;
    }

    .image {
       background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
        url( '/static/ecollege/images/clay-banks-nYToduYJH-c-unsplash.jpg' );       
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       height: 50vh;     
    }
      
    .hero-text {
        text-align: center;
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;    
        font-size: 2rem;        
    }

    .call_action_div{
        font-size: 3rem; 
        margin: 0 1rem;
    }

    #call_action_btn a{
        color: #fff;
        background-color: rgb(183, 123, 72);
        font-size: 1.5rem;
    }

    /*****************************************************************/

    body{  
        height: 100vh;
    }

    body {
        margin:0;
        font-family:'Roboto', sans-serif;
        font-weight:400;
        color:#333;
    }
    
    a {
        color:#4bb336;
        font-family:'Roboto', sans-serif;
        font-weight:300;
        text-align: center;
    }
    
    h1 {
        background:#efefef;
        width:100%;
        overflow:auto;
        padding: 1rem;        
    }

    #menuLogin{
        width: 100%;
        height: calc(100% - 5em);
        text-align: center;
        padding-top: 3rem;
    }

    #menuRegis form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;   
    }

  

    #regis_form label{
        text-align: start;
        width: 100%;
        margin-left: 2.5rem;
    }
   
   
    span.helptext {
        color:#ccc;
        text-align: start; 
        padding: 0.5rem 2rem;
    }
 
    .module {
        width:100%; 
        height: 100vh;
        text-align: center;
        margin: 2rem 0;    

    }
    
    .module h3 {
        margin:20px 0 0;        
        width:100%;
    }


    #header {
        background:#4dcc43;
        overflow:auto;
        padding:10px 20px;
        border-bottom:6px solid #3fad37;
    }
    
    #header .logo {
        text-decoration:none;
        font-family:'Roboto', sans-serif;
        font-weight:300;
        text-transform:uppercase;
        font-size:24px;
        color:#fff;
        float:left;
    }
    
    #header a {
        color:#fff;
    }
    
    #header .menu {
        list-style:none;
        float:right;
        margin:0;
        padding:0;
    }
    
    .contents {
        background:#333;
        color: #fff;
        font-family:'Roboto', sans-serif;            
    }

    #all_link {
        font-size: 1.5rem;
    }
    
    .contents ul {
        list-style:none;
        margin:0;
        padding:0;
        width:100%;
        background:#333;
        
    }
    
    .contents ul li {
        margin:0 0 10px 0;
        padding:4px 10px 10px;
        overflow:auto;
       
    }
    
    .contents ul li.selected {
        background:#3f3f3f;
    }
    
    .contents ul li:hover {
        background:#3f3f3f;
        color:#bbb;
        font-size:14px;
    }
    
    .contents ul a {
        display:block;
        color:#fff;
        text-decoration:none;
    }
    
    .contents ul a:hover {
        color:#4dcc43;       
    }

    ul.content-types {
       float: none;
        width: 100%; 
        padding: 0;
        display: flex;
        flex-flow: row wrap;  
        justify-content: center;  
    }
    
    ul.content-types li {
        list-style:none;
        width: 90%;
        margin: 1rem;
        background:#efefef;
        padding: 12px;    
    }
    
    .hidden {
        display:none;
    }
    
    form p {
        overflow:auto;
    }
    
    .errorlist {
        color:#ae2c2c;
        margin:0;
    }
    
    label {
        float:left;
        clear:both;
        margin:0 0 8px 0;
    }
    
    input, select, textarea {
        border:1px solid #ccc;
        border-bottom:3px solid #ccc;
        padding:8px 12px;
        font-size:16px;
        font-family:'Roboto', sans-serif;
        float:left;
        clear:both;
        width:300px;
    }
    
    textarea {
        height:80px;
    }
    
    select {
        width:324px;
    }
    
    input[type=submit], a.button {
        border-radius:5px;
        background:#4dcc43;
        color:#fff;
        font-size:16px;
        text-transform:uppercase;
        border:none;
        padding:10px 20px;
        margin: 20px 0;
    }
    
    a.secondary-button {
        border:3px solid #4dcc43;
        padding:10px 20px;
        margin:10px 0;
    }
    
    input[type=submit]:hover, a.button:hover {
        background:#3fad37;
    }
    
    ul#course-modules {
        list-style:none;
        overflow:auto;
    }
    
    ul#course-modules textarea {
        width:600px;
        height:120px;
    }
    
    ul#course-modules li {
        padding:20px;
        overflow:auto;
      
    }
    
    ul#course-modules li:nth-child(even) {
        background:#efefef;
    }
    
    ul#course-modules li:hover {
        background:#ccc;
    }
    
    #module-contents  { 
        padding:10px 0;
        margin: 10px 0;    
        background:#fff;
    }

    #module_title {
        margin: 30px;
    }
    
    #module-contents form {
        margin:0;
        padding:0;
    }
    
    #module-contents input[type=submit] {
        color:#3fad37;
        background:none;
        margin:-20px 0 0;
        padding:0;
        float:left;
        text-transform:none;
    }
    
    #thisContent{
        margin: 2rem;
        padding: 1rem;
    }

    .my_courses{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .courses_made{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
       
    }

    .course-info {
        border:1px solid #ccc;
        width: 80%;
        margin: 1rem;     
    }

    .module p:last-child{
        margin: 1rem;
    }
    
    .course-info a {
        margin-right:10px;
    } 
     
    .videoWrapper{
        position: relative;
        padding-bottom: 56.25%;   /* Equals 16:9*/ 
        height: 0;
        width: 90%;        
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 1em;
        width: 100%;
        height: 100%;  
        border-radius: 5px;
    }

    #edit_course, #delete_course  {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center; 
        padding: 2rem;      
    } 

    #edit_course p select{
        width: 300px;
    }

    #edit_course p:last-child input {
        width: 100%;
        padding: 1rem;     
    }

  
    #edit_formset {       
        display: flex;
        flex-flow: row wrap;   
        justify-content: start; 
        padding: 2rem;     
        width: 100%;     
    }

    #id_overview{
        padding: 1rem;
    }

    #courses_card{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: space-between;
        width: 100%;  
        margin-top: 2rem;     
    }

    #course_div{
        margin: 0.8rem 2rem;
        width: inherit;       
    }

    .course_content {
        padding: 5rem 0 0 0;  
     
       
    }

    .course_item{
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        margin: 1rem;
    }

    .content_form{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

  
    .module h2#overview{
        margin-top: 4rem;
    }

    #object_overview{
        font-size: 1.5rem;
    }

    #navbar{
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        width: 100%;
    }

    .text_content p{
        margin: 1rem ;
        padding: 0;
        text-align: start;
        line-height: 1.3;
        font-size: 1.5rem;
    }

    .course_content h2:first-child{     
        margin-top: 2rem;
    }

    .content-links{
        margin: 2rem 0;
    }


/*****************  Break Point Tablet **************************************/
@media (min-width: 768px) { 


    #login_form{
        display: flex;
        flex-flow: column;     
        align-items: center;
        width: 100%;
    }
    
    #login_form p {
            width: 100vw;    
    }

    #login_form input {
        width: 80%;
        margin: 1rem 5rem;   
    }
    
    #login_form  label {
            margin: 0 5rem;            
    }


    .hero-text {
        font-size: 2.5rem;      
    }

    #mobileMenu {
        font-size: 2rem;
    }

    #menuRegis form{       
       justify-content: center;   
    }

    #regis_form label{
        font-size: 1.3rem;        
        margin-left: 5rem;
    }

    #id_password2{
        margin: 0 4rem;
    }
   
    #regis_form input {
        width: 80%;
        margin: 0 3rem;
    }

    #regis_form p:last-child{        
        width: 100%;
       /* overflow: hidden;*/
    }

    #regis_form p:last-child input{
        width: 40%;
        margin: 4rem 15rem;
    }

    #menuRegis p:first-child, #menuLogin p:only-of-type{
        font-size: 1.5rem;
        margin: 1rem  0 2rem 0;
    }

    span.helptext {
        color:#ccc;        
        text-align: start; 
        padding-top: 1rem;
        font-size: 1.2rem; 
    }

    .course-info  {
        margin: 1rem 10rem;
        font-size: 1.5rem;
        padding: 1rem;
    } 
    
    .module p a{
       font-size: 1.5rem;
    } 

    #edit_course, #edit_formset {
        flex-flow: column;
        align-items: flex-start;
        padding: 2rem 3rem;        
    } 

    #edit_formset input:last-child{
        width: 40%;
        margin-left: 14rem;
    }
    
    #edit_course p, 
    #edit_course input, 
    #id_overview, 
    #edit_course input,
    #edit_formset input,
    #edit_formset textarea
    {
        width: inherit;
    }

    #edit_course p select{
        width: 100%;
       
    }

    #delete_course p {
        font-size: 2rem;         
    }      
    
    #courses_card{       
        margin-top: 3rem;     
    }
   
    #course_div{   
        width: 50%;        
    }

    .videoWrapper{
        margin-bottom: 2rem;
        width: 96%;
       
    }

    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 1em;
        width: 100%;
        height: 100%;  
        border-radius: 5px;
    }

    #edit_course p:last-child input {
        width: 50%;
        margin-left: 10rem;
    }

    #thisContent{
       margin: 2rem 6rem;
       font-size: 1.3rem;
    }

    ul.content-types{       
      margin: auto;
        width: 80%;   
        flex-flow: row;
        padding: 2rem;      
    }

    ul.content-types li{            
        padding: 3rem;      
    }
    
    .content_form {
        flex-flow: column;      
        height: 400px;
        align-items: center;
    }

    .content_form p input, .content_form p textarea{
        width: 500px;        
    }

    .content_form p:last-child input{
        width: inherit;
        padding: 1rem;
    }
    

    .module h2#overview{
        margin-top: 6rem;
    }

    #navbar{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
       
    }

    .course_content{     
        width: 100%;
    }

    .text_content p{
        margin: 2rem ;
        padding: 0;
        text-align: start;
        line-height: 1.4;
    }

    .course_content h2:first-child{     
        margin-top: 2rem;
    }

    
}

/************************ Breakpoint Large desktop *****************************************/

@media (min-width: 992px){

    #navbar{
        flex-flow: row;
        justify-content: flex-end;       
    }

    #delete_course{      
        padding: 10rem;
    }
 
}

/************************ Breakpoint Extra large desktop *****************************************/

@media (min-width: 1200px) {
    .image{
        height: 80%;
    }

    .hero-text{
        font-size: 4rem;
    }

    #call_action_btn a {
        font-size: 2rem;
    }

    #call_action_btn{
        margin: 2rem 0;
    }

    #subject_card a {
        font-size: 1rem;
    }
    
    #login_form  {
        width: 80%;
        margin: 2rem;
    }

    #login_form p  {
        width: inherit;
        margin-left: 5rem;
    }

    #regis_form input{
        /*  width: 50%; */
        margin: 0 19rem;
    }    

    #regis_form label{
        font-size: 1.3rem;        
        margin-left: 19rem;
    }

    #regis_form p:last-child input{
     width: 20%;
     margin: 4rem 28rem;
       /* overflow: hidden;*/
    }

    span.helptext{
        padding: 0 18rem;
        margin: 1rem 0;
        text-align: start;
    }
  
   
    #course_div{   
        width: 35%;
        margin: 1rem;
        font-size: 0.8rem;
        padding: 1rem;
    }

    .my_courses{
        flex-flow: row;
        padding: 2rem;
 
    }

    .course-info{
       width: 35%;
       margin: 1rem;      
    }

   
    .course_content{
        width: 80%;
        float: left;
        text-align: start;
        padding: 5rem 0;
    }

    .videoWrapper{      
        width: 80%;   
        margin: auto 0 0 5rem;    
    }

    .videoWrapper iframe {     
        height: 70%;       
    }

    .content_image{
        width: 83%;
        height: auto;    
    }

    #image{
        margin: 0 0 0 5rem; 
 
    }

    .courses_made{
        padding-top: 2rem;
    }

    .module p:last-child{
        margin: 2rem;
    }

    #edit_course{
        width: 90%;
        margin-left: 10rem; 
        flex-flow: row wrap;
        justify-content: flex-start;  
    }

    #edit_course p select {
        width: auto;
    }

    #id_overview{
        height: 150px;
    }

    #edit_course p:last-child input {
        width: 30%;
        margin-left: 13rem;
    }

    #delete_course{
      
       padding: 10rem;
    }

    #edit_formset{
        padding: 0 14rem;
    }

  
    
    #thisContent{
        margin: 2rem 14rem;
        font-size: 1.3rem; 
    }

    #left_panel{
        float: left;
        width: 70%;
    }
     
    .content_form p input, .content_form p textarea{
        width: 600px;        
    }
     
    .contents {
        width:20%;
        padding:10px;
        float:left;     
    }
    
    #courses_card{       
        margin: 3rem auto 0 auto;     
        width: 70%;
    }

    #navbar li{
        margin: 0 0.2rem;
    }

    .text_content p{
        font-size: 2rem;
    }

    
}

/************************* Break Point larger desktop *************************************/

@media (min-width: 1400px){

    .hero-text{
        font-size: 5rem;
    }

    #subject_link a {
        font-size: 1.6rem;
    }

    .call_action_div{
        font-size: 5rem;
        margin: 0 1rem;
    }

    #login_form  {
        width: 60%;        
    }

    #regis_form p:last-child input{
        margin: 4rem 28rem;
      
    }
   
    #course_div{
        font-size: 1rem;   
        width: 30%;
        padding: 1rem;
    }

    .course-info{
        width: 28%;
    }

    .course_content{
        padding: 0 auto; 
        margin: 0;
        width: 60%;  
          
    }   

    .course_item{
        align-content: space-around;
        justify-content: flex-start;
       
    }

    .videoWrapper iframe{      
  
        margin-top: 1rem;
    }

    #edit_course{    
      
        justify-content: start;
        margin-left: 15rem;     
    }

   

    #edit_course p:last-child input {
        width: 20%;
        margin-left: 20rem;
    }

    #delete_course{      
        padding: 20rem;
    }
    
    #edit_formset input:last-child{
        margin-left: 20rem;
    }

    #edit_formset textarea{
        height: 100px;
    }

    .my_courses p {
        font-size: 1.5rem;
    }

    .my_courses p a{
        font-size: 2rem;
    }

    .content_form{
        margin-top: 3rem;
    }


}



@media (min-width: 2000px){

    #course_div{       
        width: 20%;      
    }

    #courses_card{       
        margin: 4rem auto;       
    }

    .course_content{
        padding-top: 8rem;        
    }

    
    .content_image{
        width: 100%;      
    }

    .course_item{           
        justify-content: center;    
    }

    .videoWrapper{
        margin: 0;
    }

    #image{
        margin-left: 9rem;
    }

    .course-info{
        width: 17%;
    }

 
    #edit_course{    
        /* margin: 0;
         width: 90%; */
        margin-left: 50rem;
        padding-left: 5rem;   
    }

   

    #delete_course{      
        padding:5rem 60rem;
    }
    
    #edit_formset{
        width: 70%;
        margin-left:35rem;
    }

    #edit_formset input:last-child{
        width: 15%;
        padding: 1rem;
        margin-left: 20rem;
    }

     
    #thisContent{
        margin: 2rem 20rem;
        font-size: 1.3rem; 
    }

    ul.content-types li {
        font-size: 1.5rem;
    }

    #object_overview{
        font-size: 1.7rem;
    }  

    #wrapper{
        width: 70%;
        margin: auto;
        padding-bottom: 30rem;
    }
    
    .text_content p{
        margin: 2rem 4rem ;
        padding: 0;
        text-align: start;
        line-height: 1.4;
    }

}