services:
  db:
    image: postgres
    restart: always
    #user: 
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  web:
    #build: .
    command: ["./wait-for-it.sh", "db:5432", "--",
            "python", "manage.py", "runserver",
            "0.0.0.0:8001"]
    container_name: ecollege
    image: coglescode/ecollege:latest
    restart: always
    volumes:
      - .:/src
    ports:
      - "8001:8001"
    environment:
      - DJANGO_SETTINGS_MODULE=capstone.settings
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    depends_on:
      - db
    