
In order to run this project successfully you need to install two Paython packages.

1. Pillow 
2. Embed_video 

Once you have installed both packages go ahead and keep reading the README.md for better understanding of 
the web application. 

Happy reading!!