{% extends "layout.html" %}

{% block title %} Sing up {% endblock %}

{% block content %}


  <h1 class="text-center">Sign up </h1>
  <div id="menuRegis" class="container p-md-5 ">
    <p class="text-center">Enter your details to create an account: </p>
    <form id="regis_form" class="form-control  border-0 d-flex flex-wrap justify-items-center " method="post">
      {{ form }}
      {% csrf_token %}
      <input type="submit" class="form-control" value="Create my account">
    </form>
  </div>


{% endblock %}
