{% extends "layout.html" %}
{% load static %}

{% block title %}
  {% if object %}
    Edit course "{{ object.title }}"
  {% else %}
    Create a new course
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Edit course "{{ object.title }}"
    {% else %}
      Create a new course
    {% endif %}
  </h1>

  <div class="module">
    <h2>Course info</h2>
    <form id="edit_course" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Save course"></p>
    </form>
  </div>
{% endblock %}
  
{% block script %}
  <script src="{% static 'ecollege/manage_edit.js' %}"></script>
{% endblock %}